/**
 * Navigation Styles
 **/
   
/* colors */
$tenebrae: 	#000;
$lux: 		#fff;
$hover: 	#0f0;
$hoverBg: 	#293e45;

#primary-menu {
	//margin-left: 2rem;
}

.main-navigation {
	background-color: $tenebrae;
	color: $lux;
	
	a {
		@extend .main-navigation;
	}
	
	&:hover{
			color: $hover;
	}
}

/* navigation */
.menu-item, {
	margin-right: .8rem;
	background-color: $tenebrae;
	color: $lux;
	
	&:hover {
		background-color: $tenebrae;	
	}
}
