
/**
 * SASS: flexbox prefixers
 **/
 @mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

/** 
 * SASS mixin usage

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}
**/

/* flexbox */
#page {
	background-color: #fff;
	width: 980px;
	margin: auto;
}

#content {
	 display: flex;
	 flex-wrap: wrap;
}

#primary {
	width: 600px;
}

aside {
	//padding-left: 2rem;
	width: 300px;
}

/**
 * Why use SASS?
 * - mixins!
 **/

// mixin
@mixin responsive(
	$page,
	$primary,
	$aside,
	$siteTitle
	) {

	#page {
		background-color: #fff;
		max-width: $page;
		margin: auto;
	}
	
	// "wrapper" content container	
	#content {
		@include flexbox(); // prefixes for browsers
		display: flex;
		flex-wrap: wrap;
	}
	
	// content
	#primary {
		width: $primary;
		max-width: 100%;
	}
	
	// sidebar, widgets
	aside {
		width: $aside;
		max-width: 100%;
	}
	
	// site title size
	.site-title {
		a {
			font-size: $siteTitle;		
		}	
	}
	
	// images and media
	img, 
	iframe, 
	.entry-footer, 
	.entry-content, 
	.entry-header,
	.entry-footer, 
	.site-branding,
	.site.title,
	#mast-head {
		max-width: 100%;	
	}
} // end responsive mixin

// mixin usage: 
//.someClass { @include responsive(980px,500px,420px); } 
//

// tablets: iPads and friends
@media only screen and (max-width: 768px) {
	@include responsive(700px,400px,300px,1.1em);   
}

// mobile
@media only screen and (max-width: 598px) {
	@include responsive(500px,500px,500px,20px);   
}

// smaller mobile
@media only screen and (max-width: 360px) {
	@include responsive(360px,360px,360px,1rem);   
}

// smaller mobile
@media only screen and (max-width: 320px) {
	@include responsive(300px,300px,300px,1rem);   
}