/*! TYPOGRAPHY */

/**
 * Google Fonts
 **/
@import url('https://fonts.googleapis.com/css?family=Antic|Jockey+One|Sonsie+One');


// FONT VARIABLES
$font-display: 'Sonsie One', cursive;
$font-normal: 'Antic', sans-serif;
$font-manchet: 'Jockey One', sans-serif;

// Font colors
$red:			#ce0000;
$blue:			#4169e1;
$darkgreen: 	#21759b;
$darkgrey:		#82878c;
;

/* Header */
.site-branding {

	h1 {
		font-family: $font-display;

		a {
		
		}
	
	}
}

/* Headings */

// display font
h1,h2 {
	font-family: $font-manchet;
}

// readable font
h3,h4,h5,h6 {
	font-family: $font-normal;
	font-weight: bold;
}

.entry-title, .page-title {
	font-family: $font-manchet;
	font-weight: bold;
	a {
		text-decoration: none;	
	}
}

.widget-title, .site-info, .posted-on {
	font-family: $font-normal;
	font-weight: bold;
	font-size: small;
}


/* The Site Name */
.site-title {
 	font-family: $font-display;
 	font-size: 2.5rem;
 	text-align: center;
 	
 	a {
		text-decoration: none; 	
 	}
}


/* The Site Tag Line */
.site-description {
	font-family: $font-manchet;
	font-size: small;
	text-align: center;	
}


/* Paragraphs, Lists etc. */
p {
	font-family: $font-normal;
	text-align: justify;
}

ul, ol {
	margin: 0 0 0 1.5em;
}

ul li {
	font-family: $font-normal;
	padding-left: 0px;
}

aside {
	ul {
		margin: 0 0 0 0;
		 list-style-type: none;
		li {
			a {
				text-decoration: none;			
			}					
		}	
	}
}

figcaption {
	font-family: $font-normal;
	font-style: italic;
}

.cat-links, .tags-links {
	font-family: $font-normal;
	font-size: small;
}

.post-edit-link {
	/* btn for edit */
	font-size: small;
}

.posted-on {
	font-family: $font-normal;
	font-size: small;
}

footer {
	background-color: #000;
	color: #fff;

	a {
			color: silver;
			text-decoration: none;		
		}
	&:visited {
			color: silver;
		}

	.site-info {
		padding-top: .3rem;
		padding-bottom: .7rem;
		text-align: center;
		
		a {
			color: silver;		
		}
							
	}
}

.entry-title {
	color: $darkgreen;	
	
	a {
		color: $darkgreen;
	}
}

.entry-footer {
	margin-top: 1.234rem;
	background-color: $darkgrey;
	font-size: small;
	text-align: center;
	margin-bottom: 2rem;
}

.post-edit-link, .comments-link {
	margin-left: 2rem;
	color: #fff;
	
	&:visited {
		@extend .post-edit-link;	
	}
}


.tag-cloud-link {
	font-family: $font-manchet;
	color: $red;
}
